/* === general === */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #00157a;
}

/* === header  === */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: #00157a;
    color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.95rem;
}

.logo-circulo {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #00157a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    font-size: 0.9rem;
}

.nav a.activo {
    text-decoration: underline;
}

/* === contenido === */

.main {
    max-width: 800px;
    margin: 16px auto;
    padding: 0 16px;
}

.titulo {
    font-size: 1.3rem;
    margin-bottom: 12px;
}

/* card contenedora */

.card-simple {
    border: 1px solid #00157a;
    border-radius: 6px;
    padding: 10px;
}

/* tabla carrito */

.tabla-carrito {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

.tabla-carrito th,
.tabla-carrito td {
    border-bottom: 1px solid #00157a33; /* azul clarito */
    padding: 4px 2px;
    text-align: left;
}

.tabla-carrito th {
    font-weight: bold;
}

.total {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    font-weight: bold;
}

/* botones */

.btn-eliminar {
    background-color: #00157a;
    color: white;
    border: none;
    padding: 4px 8px;
    font-size: 0.8rem;
    border-radius: 4px;
    cursor: pointer;
}

.btn {
    border: none;
    padding: 6px 12px;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
}

.btn-principal {
    background-color: #00157a;
    color: #ffffff;
}

.btn-secundario {
    background-color: #ffffff;
    color: #00157a;
    border: 1px solid #00157a;
}


/*  Tamaño  del logo  */

.header .logo img {
    height: 120px;
    width: auto;
}